/* Basic styling */
body{
  margin: 0;
  padding: 0;
}
/*=============Home Page Styles=====================*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:#2f1b25;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Hide hamburger icon by default */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.logo{
color: #fff;
font-size: x-large;
font-family: sans-serif;
font-weight: 700;
}
.nav-links a{
  color:#fff;
  text-decoration: none;
  font-size: large;
  font-weight: 400;
  font-family: sans-serif;
 
}
button.cta{
  color:black;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
}
.cta:hover {
  background-color:#e59aac;
  color:white;
}

.hero-img{
  background-image: url(images/Cosmetics-Import.jpeg);
  height: 500px;
  background-repeat: no-repeat;
  background-size:cover ;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50%;
  /* background-color:#eed9c4 ; */
}
.overlay-text{
  padding: 20px;
 font-size: 2rem;
 color: #3d1c06;
 font-family: sans-serif;
}
.para{
  font-size: 25px;
}
.hero-btn{
  color:white;
  background-color: #6d1515;
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
  font-family: cursive;
  
}
.hero-btn:hover {
  background-color:#ddc8b6;
  color:#663b3b;
}
.container{
  background-color: #f9edd6;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  align-items: flex-start;
  justify-content: space-between;
}
.card{
  border-radius: 30%;
  height: 450px;
  width: 300px;
  box-shadow: 5px 5px 10px #C292A1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:white
  ;
} 
.card-img img{
  width:250px;
  height: 300px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
.card-btn{
  background-color: #673147;
  color: white;
  font-size: 16px;
  padding: 5px 28px;
  font-family: cursive;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card-btn:hover{
  background-color: #fdfbd4;
  color: #A37E66;
}
.card-detail {
  list-style: none;
  text-align: center;

}
.card-detail li{
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  color: #3b1424;
  font-weight: 600;
  padding-left: 2px;
  padding-right: 40px;
 
}
.footer-section{
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #4e0e28;
   /* text-align: center; */
   justify-content: center;
}
.footer-panel{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex: 1;
  text-align: left;
  width: 200px;
  padding-left: 20px;
}
.footer-panel h4{
  color: white;
  font-size: 18px;
  text-align: left;
  
}
.footer-panel p{
  color: #a086a0;
  font-size: 14px;  /* adjust to your preference */
  line-height: 1.5;
  /* width: 40%; */
}
.footer-panel li{
   color: #a086a0;
   margin-bottom: 5px;       /* reduce space between list items */
}
.footer-panel ul{
  
  list-style: none;         /* removes bullets */
  padding: 0;               /* removes default padding */
  margin: 0;                
}
.copyright{
padding: 20px;
background-color: #4e0e28;
text-align: center;
color: white;
font-size: 0.9rem;
}
/*========================About Page Styles================================*/
body.about-bg{
     background-color:hsl(20, 16%, 96%); 
}
.header{
    display: flex;
    flex-direction: column;
    position: relative;
  z-index: 1;
  height: 500px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('images/upscalemedia-transformed\(1\).jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8; /* adjust transparency here */
  z-index: -1;
  
}

.head-title{
    text-align: center;
    margin-top: 20%;
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#2e1818 ;
}
.head-sub{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #0f0e0e;
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.section{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color:hsl(20, 16%, 96%); 
}
.section-card{
    display: flex;
    gap: 50px;
    padding: 40px;
    flex-direction: row-reverse;
    border-radius: 30px;
     box-shadow: 5px 5px 10px #db8da6;
     margin-top: 100px;
     transition: ease;
}
.section-card:hover{
     box-shadow: 10px 10px 5px #80797b;
}
.section-card:first-child{
    flex-direction:row;
    margin-top: 30px;
}
.section-img img{
    width: 500px;
    border-radius: 50%;
}
.section-text{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.section-text p{
    font-size: 20px;
    font-family: cursive;
    color: #b97c85;
}
.section-text h3{
    font-size: 35px;
    font-weight: 700;
    color: #992525;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0 ;
}
/*========================Service Page Styles================================*/
body.service-bg{
    background-color:#fdf6f0; ;
}
.service-head{
    display: flex;
    flex-direction: column;
    position: relative;
  z-index: 1;
  height: 500px;
}

.service-head::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('images/young-woman-applying-cosmetics-with-brush-sitting-dressing-table_506452-3733.avif');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7; /* adjust transparency here */
  z-index: -1;
}
.service-detail{
    display: flex;
    padding: 30px;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.detail{
    padding: 30px;
}
.sub{
font-size: 40px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color: rgb(129, 54, 54);
}
.detail p{
    font-size: 15px;
    line-height: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(129, 54, 54);
}
.detail h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(129, 54, 54);
}
.join-btn{
  color:white;
  background-color: #491d1d;
  padding: 5px 28px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.join-btn:hover {
  background-color:#6e463c;
  color:#fcfbfb;
}
.heading{
    text-align: center;
    padding-top: 30px;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3b2e2e;
    font-weight:600;
}
.service-container{
    display: flex;
    padding: 30px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.s-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    box-shadow: 5px 5px 5px 5px #ac8660;
    height: 500px;
    width: 500px;
    
}
.s-card-img img{
    width:250px;
    height: 200px;
    object-fit: fill;
    border-radius: 30px;
    padding: 10px;
}
.s-card-head{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.s-card-description{
    font-size: 1.1rem;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    line-height: 25px;
}
.view-service{
 color: white;
  background-color:#d89ca7;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}
.view-service:hover {
  background-color:#e8b6b6;
  color:white;
}
/*========================Contact Page Styles================================*/
body.contact-bg{
    background-color:#c89daa;
}
.out-box{
    background-color:#e1c9d0;
    height: 500px;
    width:auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.in-box{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}
.getintouch{
    font-size: 3rem;
    color: #240922;
}
.liketohear{
    font-size: 1.1rem;
     color: #42103f;
}
p{
width: 60%;
line-height: 1.5rem;
color: #473e47;
font-size: 0.9rem;
}
.mail{
    display: flex;
    gap: 30px;
}
.mail i{
    color: #252425;
    font-size: 18px;
}
.mail a{
    text-decoration: none;
    color: #661a61;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
.others{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    color: #252425;
}
.fa-thumbs-up{
width: 40px;
}
.name{
    display: flex;
    flex-direction: column;
}
.name-head{
    display: flex;
    gap: 140px;
    padding-bottom: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(288, 75%, 14%);
    
}
.name-input{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
.name-input input{
    height: 25px;
    width: 170px;
}
.email{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.email input{
    height: 25px;
    margin-bottom: 20px;
}
.email-head{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(288, 75%, 14%);
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact input{
    height: 25px;
    margin-bottom: 20px;
}
.contact-head{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(288, 75%, 14%);
}
.msg{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msg textarea{
    height: 75px;
    margin-bottom: 20px;
}
.msg-head{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(288, 75%, 14%);
}
button.send{
margin-left: 300px;
background-color: #70426e;
padding: 5px 28px;
font-size: 14px;
color: #d9d9df;
}

/* Mobile styling */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* adjust based on navbar height */
    left: 0;
    background-color: #611616;
    width: 100%;
    padding: 20px;
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
  
.hero-btn{
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 30px;
  margin-bottom: 25px;
  
}
  .hero-img {
    height: 300px;
  }
  .container{
    flex-direction: column;
    gap: 20px;
   padding: 30px;
   align-items: center;
   justify-content: center;
  }
  .card{
  width: 90%; 
  margin: 0 auto;
  padding: 10px;
  height: 250px;
  width: 200px;
  }
  .card-img img{
  width:200px;
  height: 150px;
  object-fit: contain;
  }
  .card-btn{
  font-size: 13px;
  padding: 1px 20px;
}

.card-detail li{
  font-size: 12px;
  padding-left: 2px;
  padding-right: 40px;
}
.footer-section{
  display: flex;
  flex-direction: column;
}

/*==============About Page Media Query==========================*/
 .head-title{
    font-size: 1.4rem;
    margin-top: 10%;
  }
  .head-sub{
    font-size: 0.7rem;
    margin-top: 0%;
  }
  .section{
    flex-direction: column;
  }
  .section-card{
    flex-direction: column;
  }
  .section-card:first-child{
    flex-direction: column;
  }
  .section-img img{
    width: 250px;
    height: auto;
  }
  .section-text h3{
    font-size: 1.5rem;
  }
  .section-text p{
    font-size: 1rem;
  }
  /*==============Service Page Media Query==========================*/
  .service-detail{
    flex-direction: column;
    padding: 5px;
    gap: 2px;
}
.detail{
    padding: 5px;
    margin-left: 15px;
    width: 100%;
    text-align: left;
}
.sub{
font-size: 15px;
}
.detail p{
    font-size: 10px;
    line-height: 12px;
}
.detail h1{
    font-size: 1rem;
    margin-top:-15px;

}
.join-btn{
  padding: 5px 10px;
  font-size: 10px;
  
}
.heading{
    padding-top: 20px;
    font-size: 1.5rem;
}
.service-container{
    flex-direction: column;
    padding: 20px;
    gap: 25px;
}
.s-card{
    height: 300px;
    width: 250px;
    gap: 20px;
}
.s-card-img img{
    width:150px;
    height: 100px;
    object-fit: fill;
    padding: 5px;
}
.s-card-head{
    font-size: 1rem;
}
.s-card-description{
    font-size: 0.95rem;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 15px;
}
.view-service{
  padding: 5px 10px;
  font-size: 13px;
}
/*===================Contact Page Media Query====================*/

.out-box{
    margin-top: 10px;
    height: 100%;
    width:auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}
.in-box{
    padding: 10px;
    flex-direction: column;
    align-items: left;
    gap: 10px;
}
.getintouch{
    font-size: 1.4rem;
}
.liketohear{
    font-size: 0.8rem;
}
p{
width: 85%;
line-height: 1.1rem;
color: #473e47;
font-size: 0.7rem;
}
.mail{
    gap: 30px;
}
.mail i{
    font-size: 13px;
}
.mail a{
    font-size: 10px;
}
.others{
    gap: 10px;
    font-size: 13px;
}
.name{
    margin-left: 20px;
}
.name-head{
    gap: 130px;
    padding-bottom: 5px;
    font-size: 10px;
    
}
.name-input{
    gap: 20px;
    padding-bottom: 10px;
}
.name-input input{
    height: 20px;
    width: 145px;
}
.email{
    gap: 5px;
    margin-left: 20px;
}
.email input{
    height: 20px;
    width: 320px;
    margin-bottom: 10px;
}
.email-head{
    font-size: 10px;
}
.contact{
    gap: 5px;
    margin-left: 20px;
}
.contact input{
    height: 20px;
    width: 320px;
    margin-bottom: 10px;
}
.contact-head{
    font-size: 10px;
}
.msg{
    gap: 5px;
    margin-left: 20px;
}
.msg textarea{
    height: 55px;
    width: 320px;
    margin-bottom: 10px;
}
.msg-head{
    font-size: 10px;
}
button.send{
margin-left: 250px;
padding: 5px 20px;
font-size: 14px;

}
button.help{
 padding: 5px 10px;
 font-size: 14px;
}
}

@media (max-width: 480px) {
  .hero-img {
    height: 180px;
  }

  .overlay-text {
    font-size: 1rem;
    padding: 8px;
  }
  /*==============About Page Media Query==========================*/
  .header{
    height: 180px;
  }
  /*==============Service Page Media Query==========================*/
  .service-head{
    height: 180px;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {
  .hero-img {
    height: 400px;
  }
  .overlay-text {
    font-size: 2rem;
  }
  .hero-btn{
  padding: 20px 25px;
  font-size: 20px;
}
.container{
    flex-direction: column;
    gap: 20px;
  }
  .card{
  width:100%;
  margin: 0 auto;
  padding: 10px;
  height: 450px;
  width: 400px;
  } 
  .card-img img{
  width:300px;
  height: 250px;
  object-fit: contain;
  }
  .card-btn{
  font-size: 1.2rem;
  padding: 1px 20px;
}

.card-detail li{
  font-size: 1.4rem;
  padding-left: 2px;
  padding-right: 40px;
} 
.foot-panels{
  flex-direction: column;
  gap: 10px;  
}
.ftp{
  border-left: none;
  border-bottom: #b76e79 2px solid;
  width: 100%;
}
.ftp:last-child{
  border-bottom:none;
}
.head{
  font-size: 1.2rem;
}
.ftp li{
  font-size: 0.9rem;
}
/*==============About Page Media Query==========================*/
.header{
    height: 400px;
  }
   .head-title{
    font-size: 3rem;
    margin-top: 15%;
  }
  .head-sub{
    font-size: 1rem;
    margin-top: 30px;
  }
  .section{
    flex-direction:row;
    justify-content: space-around;
  }
  .section-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 10px;
  }
  .section-card:first-child{
    flex-direction: column;
    margin-top: 0;
  }
  .section-img img{
    width: 250px;
    height: auto;
  }
  .section-text h3{
    font-size: 1.5rem;
  }
  .section-text p{
    font-size: 1rem;
  }
/*==============Service Page Media Query==========================*/
  .service-head{
    height: 400px;
  }
  .section-detail{
    padding: 20px;
    gap: 50px;
  }
 .detail{
    padding: 25px;
}
.sub{
font-size: 30px;
}
.detail p{
    font-size: 14px;
    line-height: 25px;
}
.detail h1{
    font-size: 2.4rem;
}
.join-btn{
  padding: 5px 25px;
  font-size: 18px;
}
.heading{
    font-size: 2.5rem;
}
.service-container{
    padding: 25px;
    margin-top: 10px;
    gap: 30px;
    flex-direction: column;
}
.s-card{
gap: 30px;
}
.s-card-img img{
    width:300px;
    height: 200px;
    object-fit: fill;
}
.s-card-head{
    font-size: 1.7rem;
}
.s-card-description{
    font-size: 1.4rem;
    line-height: 25px;
}
.view-service{
  font-size: 18px;
  
}
}